@model IEnumerable<Entities.Entities.LogSistema>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoLog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeController)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoLog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeController)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
